node_modules
pnpm-lock.yaml
yarn.lock
# package-lock is committed to pin dependencies
.DS_Store
/dist
/.turbo
/src-tauri/target
/src-tauri/Cargo.lock
**/*.log
*.tsbuildinfo
vite.config.js
vite.config.d.ts
